---
Checks:          'clang-diagnostic-*,clang-analyzer-*,google-*,cppcoreguidelines-*,-cppcoreguidelines-narrowing-conversions'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     google
User:            jhache
...
