---
Checks:          'clang-diagnostic-*,clang-analyzer-*,google-*,cppcoreguidelines-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     google
User:            jhache
...
